<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

<!--    <listener>-->
<!--      <listener-class>com.duan.fwrp.service.NotificationContextListener</listener-class>-->
<!--    </listener>-->

  <display-name>Food Waste Reduction Platform</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/lib/c.tld</taglib-location>
    </taglib>
  </jsp-config>

<!--  <servlet>-->
<!--    <servlet-name>RetailerDashboardServlet</servlet-name>-->
<!--    <servlet-class>com.duan.fwrp.servlet.RetailerDashboardServlet</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>RetailerDashboardServlet</servlet-name>-->
<!--    <url-pattern>/retailerDashboard</url-pattern>-->
<!--  </servlet-mapping>-->



</web-app>
